<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.88.1">
    <title>Signin Template · Bootstrap v5.1</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/sign-in/">



    <!-- Bootstrap core CSS -->
<link href="/docs/5.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <!-- Favicons -->
<link rel="apple-touch-icon" href="/docs/5.1/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
<link rel="icon" href="/docs/5.1/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
<link rel="icon" href="/docs/5.1/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
<link rel="manifest" href="/docs/5.1/assets/img/favicons/manifest.json">
<link rel="mask-icon" href="/docs/5.1/assets/img/favicons/safari-pinned-tab.svg" color="#7952b3">
<link rel="icon" href="/docs/5.1/assets/img/favicons/favicon.ico">
<meta name="theme-color" content="#7952b3">


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>


    <!-- Custom styles for this template -->
    <link href="signin.css" rel="stylesheet">
  </head>

<head>
    {% load static %}
    <style>
                                   .passe-partout {
                                    padding: 90px; /* Ширина паспарту */
                                    background: #f0f0f0; /* Цвет фона  паспарту */
                                    border: 9px solid #666; /* Параметры рамки */
                                   }





    </style>
    <script>
        function readURL(input) {

          if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function(e) {
              $('#blah').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
          }
        }

        $("#imgInp").change(function() {
          readURL(this);
        });




    </script>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">


    <title> SEARCH PHOTO</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<div class="px-3 py-2 bg-dark text-white">

    <div class="container">


        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <nav class="navbar navbar-light">

                    <a style="color:#fff;" class="navbar-brand" href="#">
                        <img style="margin-right: 1rem; margin-left: 12px" src="{% static 'img/Logomvd.png' %}"  width="40" height="40" class="d-inline-block align-top" alt="">
                        ГУВД г. БИШКЕК BASE BANK

                    </a>

                </nav>

            <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">



                <svg class="bi me-2" width="24" height="24" aria-label="#">
                    <use xlink:href="#bootstrap"></use>
                </svg>

                <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
            </a>
            <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
                <li>
                    <a href="" class="nav-link text-white">
                        <svg class="bi d-block mx-auto mb-1" width="20" height="20">
                            <use xlink:href="#home"></use>
                        </svg>
                        <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                            добавить
                        </font>
                        </font>
                    </a>
                </li>
                <li>
                    <a href="" class="nav-link text-white">
                        <svg class="bi d-block mx-auto mb-1" width="20" height="20">
                            <use xlink:href="#speedometer2"></use>
                        </svg>
                        <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                            добавленные
                        </font>
                        </font>
                    </a>
                </li>
                <li>
                    <a href="" class="nav-link text-white">
                        <svg class="bi d-block mx-auto mb-1" width="20" height="20">
                            <use xlink:href="#speedometer2"></use>
                        </svg>
                        <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                            поиск
                        </font>
                        </font>
                    </a>
                </li>
                <li>
                    <a href="" class="nav-link text-white">
                        <svg class="bi d-block mx-auto mb-1" width="20" height="20">
                            <use xlink:href="#speedometer2"></use>
                        </svg>
                        <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                            выход
                        </font>
                        </font>
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link text-white">
                        <svg class="bi d-block mx-auto mb-1" width="1" height="1">
                            <use xlink:href="#table"></use>
                        </svg>
                        <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">


                        </font>
                        </font>
                    </a>
                </li>

            </ul>
        </div>
    </div>

</div>

<body>

{% block content %}

{{form }}


{% endblock %}
</body>
</html>