{% extends "base.html" %}
{% load  static %}
{% block content %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<div class="col-4 col-sm-6">
    <h2 class="title"><span class="text"><strong>Введите данные</strong></span></h2>
    <form action="." method="POST">
        {% csrf_token %}
        <div class="container">
        <div class="row justify-content-evenly">
    <div class="col-md-4 ms-auto">
      <div class="control-group">
                                        <label class="control-label">{{form.surname.label}}</label>
                                        <div class="controls">
                                            {{form.surname}}
                                        </div>
                                    </div>

                                    <div class="control-group">
                                        <label class="control-label">{{form.name.label}}</label>
                                        <div class="controls">
                                            {{form.name}}
                                        </div>
                                    </div>

                                    <div class="control-group">
                                        <label class="control-label">{{form.patronymic.label}}</label>
                                        <div class="controls">
                                            {{form.patronymic}}
                                        </div>
                                    </div>

                                    <div class="control-group">
                                        <label class="control-label">{{form.pin.label}}</label>
                                        <div class="controls">
                                            {{form.pin}}
                                        </div>
                                    </div>

                                    <div class="control-group">
                                        <label class="control-label">{{form.address.label}}</label>
                                        <div class="controls">
                                            {{form.address}}
                                        </div>
                                    </div>

                                    <div class="control-group">
                                        <label class="control-label">{{form.pin_bank.label}}</label>
                                        <div class="controls">
                                            {{form.pin_bank}}
                                        </div>
                                    </div>

                                    <div class="control-group">
                                        <label class="control-label">{{form.erp.label}}</label>
                                        <div class="controls">
                                            {{form.erp}}
                                        </div>
                                    </div>

                                    <div class="control-group">
                                        <label class="control-label">{{form.image.label}}</label>
                                        <div class="controls">
                                            {{form.image}}
                                        </div>
                                    </div>

                                    <div class="control-group">
                                        <label class="control-label">{{form.image1.label}}</label>
                                        <div class="controls">
                                            {{form.image1}}
                                        </div>
                                    </div>

                                    <div class="control-group">
                                        <label class="control-label">{{form.image2.label}}</label>
                                        <div class="controls">
                                            {{form.image2}}
                                        </div>
                                    </div>
     </form>
</div>


    <div class="col-sm-8">
      <div class="table-responsive">
                <table class="table table-dark table-striped">
                    <thead>
                    <tr>

                        <th scope="col">Фамилия</th>
                        <th scope="col">Имя</th>
                        <th scope="col">Отчество</th>
                        <th scope="col">ПИН</th>
                        <th scope="col">Адрес</th>
                        <th scope="col">Номер карты</th>
                        <th scope="col">Фабула</th>
                        <th scope="col">Прикрепленный файл</th>
                        <th scope="col">Копия паспорта</th>
                        <th scope="col">Вставить файл</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        {% for information in informations %}

                        <td class="text-left">{{ information.surname }}</td>
                        <td>{{ information.name }}</td>
                        <td class="text-left">{{ information.patronymic }}</td>
                        <td class="text-right">{{ information.pin }}</td>
                        <td class="text-right">{{ information.address }}</td>
                        <td class="text-right">{{ information.pin_bank }}</td>
                        <td class="text-right">{{ information.plot }}</td>
                        <td class="text-right">{{ information.image }}</td>
                        <td class="text-right">{{ information.image1 }}</td>
                        <td class="text-right">{{ information.image2 }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
    </div>



            {% endblock %}
