{% extends "base.html" %}
{% load  static %}
{% block content %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<div class="col-16 col-sm-10">
    <h2 class="title"><span class="text"><strong>Ввод данные</strong></span></h2>
    <form action="." method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-6 col-sm-4">
                        <div class="control-group">
                            <label class="control-label">{{form.surname.label}}</label>
                            <div class="controls">
                                {{form.surname}}
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">{{form.name.label}}</label>
                            <div class="controls">
                                {{form.name}}
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">{{form.patronymic.label}}</label>
                            <div class="controls">
                                {{form.patronymic}}
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">{{form.pin.label}}</label>
                            <div class="controls">
                                {{form.pin}}
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label">{{form.address.label}}</label>
                            <div class="controls">
                                {{form.address}}
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label">{{form.erp.label}}</label>
                            <div class="controls">
                                {{form.erp}}
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label">{{form.image.label}}</label>
                            <div class="controls">
                                {{form.image}}
                            </div>
                        </div>
    </form>
</div>


<div class="container">
    <h1>
        <nav class="navbar navbar-light" style="background-color: #e3f2fd;"></nav>
    </h1>
    <div class="table-responsive">
        <table class="table table-dark table-striped">
            <thead>
            <tr>
                <th scope="col">Фото</th>
                <th scope="col">Фамилия</th>
                <th scope="col">Имя</th>
                <th scope="col">Отчество</th>
                <th scope="col">ПИН</th>
                <th scope="col">Адрес</th>
                <th scope="col">Фабула</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                {% for main in passports %}
                <td class="text-center"><img width="70px" src="{{ main.image.url }}" alt=""></td>
                <td class="text-left">{{ main.surname }}</td>
                <td>{{ main.name }}</td>
                <td class="text-left">{{ main.patronymic }}</td>
                <td class="text-right">{{ main.pin }}</td>
                <td class="text-right">{{ main.address }}</td>
                <td class="text-right">{{ main.plot }}</td>
            </tr>

            {% endfor %}
            </tbody>
        </table>
    </div>
    {% endblock %}